html {
    background-color: #f6fff8;
}

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

span{
    color: #6b9080;
}

h1 {
    color: #273c2c;
    font-size: 60px;
}

h3 {
    letter-spacing: 0.5px;
    font-size: 20px;
    margin-left: 0.7%;
}

p {
    color: #6b9080;
}

 /* Classes */

.Home {
    height: 100vh;
    width: 100%;
}

.name {
    color: #273c2c;
    font-size: 200%;
    letter-spacing: 1px;
}

.Menuegesamt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 8%;
    padding-right: 8%;
}

.auswahl {
    float: right;
}

.Menue {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    border: solid 1.8px #6b9080 ;
    border-radius: 35px;
    background-color: #eaf4f4;
    color: #273c2c;
    text-decoration: none;
    font-weight: bold;
}

.Menue:hover{
    background-color: #a4c3b2;
    transition: .3s;
}


.Aboutme {
    font-size: 110%;
    padding-left: 8%;
    padding-right: 8%;
    position: absolute;
    padding-top: 80px;
}

.Aboutme h2 {
    color: #273c2c;
}

.Aboutme p {
    color: #6b9080;
}


